
<div class="container">
		<div id="img" align="center" >
   			<%= image_tag "puente.jpg"%>
		</div>
		<div class="container" align="justify">
		<strong>VISIÓN: </strong>Un país con servicios de transportes y comunicaciones eficientes, integrado nacional e internacionalmente, que contribuya a la competitividad de las actividades productivas y mejore la calidad de vida de nuestra población, especialmente de los más pobres.
		<br>
		<br>
		<strong>MISIÓN: </strong>Preparación, gestión, administración y ejecución de proyectos de  infraestructura de transporte relacionada a la Red Vial Nacional, así como de la gestión y control de actividades y recursos económicos que se emplean para el mantenimiento y seguridad de la carreteras y puentes de la Red Vial Nacional.
		
		</div>
</div>