<footer class="footer">
  <small>
    Proyecto: <a href="http://www.sistemamtc.gob.pe/">Sistema de Control y Mantenimiento de Puentes - MTC</a>
    Por: <a href="">Multriton SAC</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://proviasnac.gob.pe/">Noticias</a></li>
    </ul>
  </nav>
</footer>

